.wrapper {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;
}

.fill {
  height: 100%;
  background: #27ae60; /* Наш фирменный зеленый */
  transition: width 0.3s linear; /* Плавный ход */
}
