.wrapper {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(4px); /* Эффект размытия */
}

.content {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #333;
  width: 100%;
  max-width: 400px;
}
